body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    width: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product-detail {
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
