/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.category-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 400px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
padd{
	padding :10px:
}